*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E7EAEF;
    line-height: 1.6;
}

nav a {
    color: #E7EAEF;
    text-decoration: none;
}

.about blockquote {
    background-color: #EDC5AB;
}

.creators .link {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.creators .link.font {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.link,
.link.font {
    color: #37745B;
}
header {
    background-color: #217074;
}